[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflowjs = "*"
mnist = "*"
tensorflow = "*"
keras = "*"
emnist = "*"

[dev-packages]

[requires]
python_version = "3.10"
